.Rapp.history
/Images
kbell_neophasia_manuscript.pdf
Misc/
Data/WingMel_WingShape.xlsx
Neophasia_code (Autosaved).R
Neophasia_junk.R
Neophasia_junk (Autosaved).R
Neophasia-text-draft.txt
.DS_Store
.Rhistory
